# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/

# Data files
data/
*.csv
*.tsv
*.json
*.h5
*.pkl

# Model files
models/
*.h5
*.pth
*.pt

# Logs
logs/
*.log

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg
